#clock {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1657831696022-1d38a08f8c4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80");
    background-size: cover;
    overflow: hidden;
    gap: 0.25rem;
    opacity: 0.75;
}

#clock>div {
    
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: 5rem;
    width: 5rem;

}

#clock>div>div {
    display: flex;
    justify-content: center;
}

.time {
    background-color: skyblue;
    font-size: 2rem;
    padding: 0.75rem 0;
}

.clockText {
    background-color: magenta;
}