#clock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    opacity: 0.75;
}

#clock>div {
    
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: 5rem;
    width: 5rem;

}

#clock>div>div {
    display: flex;
    justify-content: center;
}

.time {
    background-color: rgb(130, 17, 138);
    font-size: 2rem;
    padding: 0.75rem 0;
    color: white;
}

.clockText {
    background-color: skyblue;
    color: antiquewhite;
}