.body {
    background: url(/images/boatspace.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.view {
    width: 320px;
    /* height: 200px; */
    object-fit: contain;
    margin: 10px;
    float: left;
    border: 10px solid rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 4px 4px 6px #89dbe2;
    cursor: default;
    /* background: #fff url(../images/bgimg.jpg) no-repeat center center */
}

.view .mask,
.view .content {
    width: 320px;
    /* height: 200px; */
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
    display: block;
    position: relative;
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 14px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 10px 10px 10px;
    text-align: center
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}

.view a.info:hover {
    background: #12d4e2;
    box-shadow: 0 0 5px rgb(0, 0, 0)
}


/* Zoom Effect: zoom in the image and make it fade out while bringing the descpription to the front. 
We can do that by using the scale transform and setting the opacity level: */

.view-effect img {
    transform: scaleY(1);
    transition: all 0.7s ease-in-out;
}

.view-effect .mask {
    background-color: rgba(255, 231, 179, 0.3);
    transition: all 0.5s linear;
    opacity: 0;
}

.view-effect h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
}

.view-effect p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}

.view-effect a.info {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}

/*On hover, simply scale the image up and fade it out by decreasing its opacity to 0:*/
.view-effect:hover img {
    transform: scale(10);
    opacity: 0;
}

.view-effect:hover .mask {
    opacity: 1;
}

.view-effect:hover h2,
.view-effect:hover p,
.view-effect:hover a.info {
    transform: scale(1);
    opacity: 1;
}


/* Additional Features*/

/* Gives each card a nice slim and sleek border outline*/
.border {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 6px;
    border: 1px solid #fff;
    opacity: 0.5;
    left: -6px;
    top: -6px;
}

/* Title (Our Names) directly beneath our image */
.card h1 {
    position: relative;
    font-size: 24px;
}



/* An alternative view with extra space between cards*/
/* .card-column {
    width: 50%;
    float: left;
    padding: 4%;
    box-sizing: border-box;
} */


.container {
    width: 92%;
    margin-top: 90px;
}

/* Alternative view of the card*/
.card {
    width: 92%;
    max-width: 320px;
    /* margin-left: auto;
    margin-right: auto;
    position: relative;
    background: #EB5160;
    color: rgb(10, 10, 10);
    cursor: pointer;
    margin-bottom: 60px; */
}

/* navbar */
#nav1 {
    opacity: 0.75;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: rgb(70, 70, 70);
    color: #ffacb7;
}

.navbar .navbar-nav .nav-link {
    padding: 0.6em;
    font-size: 1.2em;
    transition: all 0.5s;
}

.navbar .navbar-brand {
    padding: 0 0.6em;
    font-size: 1.5em;
    font-weight: bold;
}

@media only screen and (min-width: 992px) {
    .navbar {
        padding: 0;
    }

    .navbar .navbar-nav .nav-link {
        padding: 1em 0.7em;
    }

    .navbar .navbar-brand {
        padding: 0 0.8em;
    }
}

nav {
    font-family: 'Raleway', sans-serif;
}