.fontOldStandardTT {
    font-family: 'Old Standard TT', serif;
}

.fontRubikMaze {
    font-family: 'Rubik Maze', cursive;
}

.fontRubik {
    font-family: 'Rubik', sans-serif;
}

.fontRubikDirt {
    font-family: 'Rubik Dirt', cursive;
}